@import  "../../GlobalStyle/Global";
.MuiTab-textColorPrimary {
    color: #333!important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
// .PrivateTabIndicator-colorPrimary-11 {
//     background-color: #aaa !important;
// }
// .PrivateTabIndicator-root-10 {
   
//     bottom: -3px !important;
//    }
   .makeStyles-toolbar-22 {
    min-height: 0px !important;
}

.PrivateTabIndicator-colorPrimary-11 {
    background-color:$light_purple !important;
}