@import "../../../GlobalStyle/Global";
.currentbutton{
    color: $light_purple !important;
    border-radius: 25px !important;
    padding: 7px 25px !important;
    font-size: 17px !important;
    margin-left: 20px !important;
    background-color: #fff !important;

    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.currentbutton:hover{

    background-color: $light_purple !important;
    color: #fff !important;
}
.divider{
 
    border-right: 2px solid #ccc;
}
.dashbannerhading
{    font-size: 16px !important;
   
    font-weight: 600 !important;
    color: #333 !important;
    padding-left: 35px;
    color: $light_purple !important;
   }
   .imguser{
       width: 70px !important;
       height: 70px !important;
   }
   .namecontent{
       padding-left: 30px;
   }
   .namecontent p{
    font-size: 15px !important;
 
    font-weight: 500 !important;
    color: #333 !important;
   }
   .namecontent h6{
    
    font-size: 18px !important;
    padding-bottom: 5px;

 
    font-weight: 500 !important;
    color: #333 !important;
   }
   .namecontent strong{
    font-size: 14px;
    font-weight: 500;
    color: #666;
   }
   @media (max-width:576px){
       .current_btn{
           text-align: center;
       }
       .current_text{
        justify-content: center;
        display: flex;
       }
       .namecontent{
        padding-left: 0px;
        text-align: center;
    }
    .currentbutton{
         padding: 3px 15px !important;

    }
    .dashbannerhading{
        text-align: center;
    }
   }