.billing-cycle  {
	display: flex;
}

.billing-cycle .radio {
	flex: 1;
	margin: 5px 20px 5px 0;
}

.billing-cycle .radio label {
	border-radius: 4px;
	border: 2px solid #eee;
	padding: 25px;
	height: 100%;
	align-self: center;
}
.radio-label{
    margin-left: 8px;
}
.billing-cycle .radio:last-of-type { margin-right: 0; }
.billing-cycle .radio input[type="radio"] + label .radio-label {
	position: relative;
	top: 2px;
	margin-right: 7px;
}
/* .radio-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: block;
  
} */
 /* .radio-label {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 2px solid #b4b4b4;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    background-color: #fff;
    box-shadow: inset 0 0 0 8px #fff;
    z-index: 100;
    position: absolute;
    top: 2px;
    left: 0;
} */
.radio input[type="radio"]:checked + label .radio-label {
  
    box-shadow: inset 0 0 0 3px #fff;
}
/* .radio input[type="radio"]:checked + label .radio-label {
    background-color: #2a41e8;
    border-color: #2a41e8;
} */

.billing-cycle-details {
	display: block;
	padding-left: 30px;
}
@media (max-width: 768px) {
	.billing-cycle  {
		display: flex;
		flex-direction: column;
	}
	.billing-cycle .radio {
		margin-right: 0;
	}
}
.payment-logo {
	height: 24px;
	position: absolute;
	right: 19px;
	top: 18px;
	image-rendering: -webkit-optimize-contrast;
}

.payment-logo.paypal {
	height: 16px;
	top: 22px;
}

.payment-tab-trigger > input {
	position: absolute;
	visibility: hidden;
}

.payment-tab-trigger {
	padding: 0px 20px;
}

.payment-tab-trigger > label {
	cursor: pointer;
	display: block;
	position: relative;
	top: 0;
	padding: 14px 0;
	top: 3px;
	margin-bottom: 0;
	font-weight: 500;
}

.payment-tab-trigger > label::before {
	transition: 0.2s;
	box-sizing: border-box;
	background-color: #fff;
	border: 2px solid #d0d0d0;
	border-radius: 100%;
	content: "";
	display: inline-block;
	margin-right: 10px;
	position: relative;
    border-color: #2a41e8 !important;
    
	top: 3px;
	width: 18px;
	height: 18px;
}

.payment-tab-trigger > label::after {
	background: #fff;
	border-radius: 100%;
	content: "";
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 22px;
	width: 8px;
	height: 8px;
	transition: 0.2s;
	transform: scale(0);
}

.payment-tab-trigger > input:checked ~ label::before { border-color: #66676b; }

.payment-tab-trigger > input:checked ~ label::after {
	background-color: #2a41e8;
	transform: scale(1);
}

.payment {
	border: 2px solid #f2f2f2;
	border-radius: 4px;
	overflow: hidden;
}

.payment-tab {
	background: #f2f2f2;
	box-sizing: border-box;
	max-height: 60px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s 0s ease-in-out;
	width: 100%;
}

.payment-tab:first-of-type { border-radius: 4px 4px 0 0; }
.payment-tab:last-of-type { border-radius: 0 0 4px 4px; }

.payment-tab.payment-tab-active {
	max-height: 400px;
	background: #fff;
}

@media (max-width: 991px) {
	.payment-tab.payment-tab-active { max-height: 800px; }
}

.payment-tab-content {
	padding: 0 20px 20px 20px;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s ease-in-out;
}

.payment-form-row {
	margin-top: -10px;
	margin-bottom: 5px;
}

.payment-tab.payment-tab-active .payment-tab-content {
	visibility: visible;
	opacity: 1;
}

.card-label > input {
	box-sizing: border-box;
	display: block;
	height: 51px;
	margin: 14px auto 5px;
	padding: 5px 15px 0 15px;
	transition: border-color 0.3s;
	width: 100%;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);

	box-shadow: none;
	padding: 15px 0;
	border: none;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 0;
}

.card-label > input:focus {
	box-shadow: none;
	border-bottom: 1px solid #e0e0e0;	padding: 15px 0;
}


.card-label > input::placeholder {
	transition: 0.2s ease-in-out;

}

.card-label > input:focus::placeholder {
transform: translateY(-18px);
}


.card-label > label {
    background-color: #fff;
    display: inline-block;
    margin: 6px auto auto 8px;
    font-size: 13px;
    padding: 0px 7px;
    font-weight: 500;
    color: #909090;
    display: none;
}

.payment-tab p { margin: 10px 0; }
.boxed-widget {
	background-color: #f9f9f9;
	padding: 0;
	transform: translate3d(0,0,0);
	z-index: 90;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

.boxed-widget-headline {
    color: #333;
    font-size: 20px;
    padding: 20px 30px;
    background-color: #f0f0f0;
    color: #333;
    position: relative;
    border-radius: 4px 4px 0 0;
}

.boxed-widget-headline h3 {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.boxed-widget-inner {
	padding: 30px;
}

.boxed-widget ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.boxed-widget ul li span {
    float: right;
    color: #333;
    font-weight: 600;
}

.boxed-widget ul li {
    color: #666;
    padding-bottom: 1px;
}

.boxed-widget.summary li.total-costs {
    font-size: 18px;
	border-top: 1px solid #e4e4e4;
    padding-top: 18px;
    margin-top: 18px;
}

.boxed-widget-footer {
	border-top: 1px solid #e4e4e4;
	width: 100%;
	padding: 20px 30px;
}

.boxed-widget-footer .checkbox label {
	margin-bottom: 0;
}

.boxed-widget.summary li.total-costs span {
    font-weight: 700;
    color: #66676b;
}
.discounted-price-tag, .regular-price-tag {
    font-size: 14px;
    background: #e0f5d7;
    color: #449626;
    border-radius: 4px;
    line-height: 20px;
    padding: 4px 10px;
    flex-grow: 0;
    flex: auto;
    width: auto;
    transition: 0.3s;
    margin-top: 6px;
    margin-right: 5px;
    display: inline-block;
}
.checkbox-condition{
    color: #2a41e8;
    font-weight: 600;
}
.checkbox-condition:hover{
    color: #333;
}
.checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 40px;
}
.checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: flex;
    cursor: pointer;
}
.checkbox label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    line-height: 25px;
    margin-top: -22px;
}

label, legend {
    display: block;
    font-weight: bold;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}
.line-through {
    text-decoration: line-through;
    background-color: #fbf6dd;
    color: #a18d29;
}