@import '../../../GlobalStyle//Global';
body, h1, h2, h3, h4, h5, h6, input[type="text"], input[type="password"], input[type="email"], textarea, select, input[type="button"], input[type="submit"], button, body .pac-container {
    font-family: "Nunito", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-transform: none !important;
}
ul.dashboard-box-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.dashboard-box-list > li {
	border-bottom: 1px solid #e4e4e4;
	padding: 0;
	line-height: 26px;
	padding: 22px 30px;
	display: flex;
    align-items: center;
    position: relative;
	width: 100%;
	flex-flow: row wrap;
	transition: 0.3s;
}

ul.dashboard-box-list > li:last-child {
	border-bottom: none;
}

ul.dashboard-box-list > li:hover {
	background-color: #fcfcfc;
}
.dashboard-box-list .notification-text a:hover{
    text-decoration: none;
    color: #666 !important;
}
.dashboard-box-list .notification-text a{
   
    color: $light_purple ;
}


.dashboard-box-list .notification-text { font-size: 14.7px; flex: 1;    color: #666; }
.dashboard-box-list .notification-icon { flex: 0 0 40px; }

.star-rating.no-stars:before {
    margin-right: 0;
}
.star-rating1 {
    content: attr(data-rating);
   
    border-radius: 4px;
    background-color: #febe42;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding: 0px 7px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}
.dashboard-box .mark-as-read {
    float: none;
    background-color: #f4f4f4;
    position: absolute;
    right: 30px;
    top: 18px;
}

button.mark-as-read {
    float: right;
    position: relative;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    top: -4px;
    right: -8px;
    font-size: 16px;
    transition: 0.25s;
}
.ripple-effect-dark, .ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
  .notification-icon {
    font-size: 22px;
  
    width: 40px;
    max-width: 40px;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 4px;
    line-height: 35px;
    text-align: center;
    color: #a0a0a0;
    transition: 0.25s;
    position: relative;
}
.notification-text {
    padding-left: 20px;
    padding-right: 5px;
    display: inline-block;
    line-height: 23px;
   
    
}
.notification-text strong {
    font-weight: 600;
    color: #333;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
}




.dashboard-box-list .buttons-to-right.always-visible:not(.single-right-button) {
    position: relative;
    transform: none;
    top: 0;
    margin: 5px 0 10px -2px;
    opacity: 1;
    right: auto;
    display: inline-block;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}

.dashboard-box-list .button {
    padding: 6px 15px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
	box-shadow: 0 3px 8px rgba(102,103,107,0.15);
}

.dashboard-box-list .button i[class*="icon-material"] {
    font-size: 18px;
    top: 3px;
    margin-right: 2px;
    margin-left: -2px
}

.dashboard-box-list .buttons-to-right .button {
    margin: 0 0 -6px 2px;
}

.dashboard-box-list .buttons-to-right.always-visible .button {
    margin: 0 3px 0 0;
}

.dashboard-box .button.red    { background-color: #dc3139; box-shadow: 0 3px 8px rgba(234,65,81,0.15); }
.dashboard-box .button.green  { background-color: #40b660; box-shadow: 0 3px 8px rgba(64,182,96,0.15); }
.dashboard-box .button.dark   { background-color: #333333; box-shadow: 0 3px 8px rgba(0,0,0,0.1); }
.dashboard-box .button.gray   { background-color: #eee; box-shadow: none; }


.dashboard-box .dashboard-box-list .button:not(.ico):hover,
.dashboard-box .button.red:not(.ico):hover,
.dashboard-box .button.green:not(.ico):hover,
.dashboard-box .button.gray:not(.ico):hover   {
	color: #fff !important;
	background-color: #333333;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-decoration: none;
}

.dashboard-box .button.dark:not(.ico):hover {
	background-color: #66676b;
	box-shadow: 0 3px 8px rgba(102,103,107,0.15);
}

.dashboard-box .button.ico {
	width: 32px;
	text-align: center;
}

.dashboard-box .button.ico i {
	font-size: 15px;
	margin-left: -7px;
	top: 2px;
	position: relative;
}

.dashboard-box .button i.icon-material-outline-check {
	margin-left: -5px;
}

.dashboard-box .button.ico i[class*="icon-material"] { 
	font-size: 18px;
	margin-left: -8px;
	top: 3px;
	position: relative;
}

.dashboard-box-list { box-shadow: none; }

.dashboard-box-list a.button i {
	margin: 0;
	padding: 0;
	position: relative;
	top: 1px;
	font-size: 14px;
	line-height: 0;
	margin-left: -2px;
}

.dashboard-box .mark-as-read {
	float: none;
	background-color: #f4f4f4;
	position: absolute;
	right: 13px;
	top: 18px;
}

.button-info {
	background: rgba(255,255,255,0.25);
    color: #fff;
    width: 19px;
    height: 19px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 700;
    margin-left: 3px;
    margin-right: -2px;
}
.dashboard-status-button {
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	line-height: 21px;
	padding: 2px 8px;
	display: inline-block;
	position: relative;
	top: -2px;
	margin: 0 0 4px 4px;
}

.dashboard-status-button.green {
    background: #e0f5d7;
    color: #449626;
}

.dashboard-status-button.yellow {
	background-color: #fbf6dd;
	color: #a18d29;
}

.dashboard-status-button.red {
	background-color: #ffe6e6;
	color: #ea5252
}


.invoice-list-item ul {
	line-height: 22px;
	padding-bottom: 2px;
	color: #909090;
	list-style: none;
	padding: 0;
	margin: 0;
}

.invoice-list-item ul li {
	padding: 0;
	display: inline-block;
	font-size: 14.7px;
	margin-bottom: 5px;
}

.invoice-list-item ul li:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 11px;
	background-color: #e0e0e0;
	position: relative;
	margin: 0 10px;
}

.invoice-list-item ul li:last-child:after { display: none; }

.invoice-list-item strong { 
	font-weight: 600;
	color: #333;
	margin-bottom: 5px;
	margin-top: -2px;
	display: block;
	font-size: 16px;
}

.paid,
.unpaid {
	background-color: #333;
	color: #fff;
	border-radius: 4px;
	line-height: 20px;
	padding: 4px 8px;
	font-size: 13px;
	position: relative;
	top: -1px;
}

.paid 	{ background-color: #40b660; }
.unpaid { background-color: #dc3139; }
.dashboard-box-list .buttons-to-right.always-visible, .dashboard-box-list li:hover .buttons-to-right {
    opacity: 1;
}
.buttons-to-right, .dashboard-box-list .button.to-right {
    position: absolute;
    right: 10px;
    top: 50%; border-radius: 4px !important;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.3s;
    background-color: $light_purple !important;
}
.bgcolor{
    background-color: #fff !important;
    
}
.bgcolor :hover{
    text-decoration: none;
}
 
.dashboard-box .buttonnn.ico {
    width: 32px;
    text-align: center;
}
.dashboard-box-list .buttons-to-right .buttonnn {
    margin: 0 0 -6px 2px;  
}


.dashboard-box-list .buttonnn {
    padding: 5px 0px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
   
    margin: 0;
    display: inline-block;}
    .buttonnn i{
        font-size: 16px;
    color: #fff;
    }

    .orderbutton{
        border-radius: 25px !important;
        font-size: 15px !important;
    
        background-color: #7c4dff !important;
        color: #fff !important;
        
        margin-top: 15px !important;
    }
    