@import '../../../GlobalStyle/Global';
.section-headline {
    display: block;
    position: relative;
    padding-right: 20%;
}

.section-headline.centered {
    text-align: center;
    padding: 0;
}

.section-headline span {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #888;
    margin-top: 0;
    display: block;
}

.section-headline h1,
.section-headline h2,
.section-headline h3,
.section-headline h4 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    color: #333;
}

.section-headline h4 {
    font-size: 22px;
    line-height: 34px;
}

.section-headline.border-top { border-top: 1px solid #e0e0e0; }

h1.in-a-box,
h2.in-a-box,
h2.in-a-box,
h3.in-a-box,
h5.in-a-box {
    display: inline-block;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.section-headline h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.categories-container {
	display: flex;
	flex-wrap: wrap;
}

.category-box {
	flex: 0 0 25%;
	align-content: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
	padding: 25px;
	border-radius: 4px;
	transition: 0.35s;
}

/* IE 11 Fixes */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.category-box { max-width: 25%; text-align: center; }
	.category-box-counter { width: 50px !important; }


}
/* IE 11 Fixes - End */

/* Box Icon */
.category-box-icon {
	font-size: 40px;
	line-height: 32px;
    color: $light_purple;
	position: relative;
}

.category-box-icon i {
	height: 42px;
	display: block;
	transition: 0.35s;
	margin-bottom: 12px;
}

/* Box Counter */
.category-box-counter {
	width: auto;
	height: 24px;
	font-size: 14px;
	line-height: 25px;
	border-radius: 4px;
	padding: 0 8px;
	color: #909090;
	background: rgba(0,0,0,0.06);
	font-weight: 600;
	display: inline-block;
	margin: 0 auto;
	transition: 0.35s;
	margin-bottom: 18px;
    text-decoration: none!important;
}

/* Box Content */
.category-box-content h3 {
	font-size: 16px;
	font-weight: 600;
	color: #333;
	margin: 0;
	padding: 0;
	transition: 0.35s;
}

.category-box-content p {
	color: #888;
	margin: 0;
	padding: 0;
	line-height: 24px;
	margin-top: 10px;
	transition: 0.35s;
    font-size: 17px;
}

/* Hover State */
.category-box:hover {
    background: $light_purple;
    // box-shadow: 0 4px 12px rgb(42 65 232 / 20%);
	color: #fff;
    text-decoration: none;
}

.category-box:hover .category-box-content h3,
.category-box:hover .category-box-icon { color: #fff; }
.category-box:hover .category-box-content p { color: rgba(255,255,255,0.7); }

.category-box:hover .category-box-counter {
	background: rgba(0,0,0,0.2);
	color: #fff;
}

/* Media Queries for Category Boxes */
@media (max-width: 1240px) {
	.category-box {
	    flex: 0 0 33.3%;
	}
}

@media (max-width: 768px) {
	.category-box {
	    flex: 0 0 50%;
	}
}

@media (max-width: 480px) {
	.category-box {
	    flex: 0 0 100%;
	    margin-right: 0;
	}
}
