ul.dashboard-box-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.dashboard-box-list > li {
	border-bottom: 1px solid #e4e4e4;
	padding: 0;
	line-height: 26px;
	padding: 22px 30px;
	display: flex;
    align-items: center;
    position: relative;
	width: 100%;
	flex-flow: row wrap;
	transition: 0.3s;
}

ul.dashboard-box-list > li:last-child {
	border-bottom: none;
}

ul.dashboard-box-list > li:hover {
	background-color: #fcfcfc;
}

.dashboard-box-list .notification-text { font-size: 14.7px; flex: 1; }
.dashboard-box-list .notification-icon { flex: 0 0 40px; }
.dashboard-box-list .notification-text .star-rating {
	position: relative;
	top: -18px;
	line-height: 0;
	height: 0;
	display: inline-block;
	margin: 0 3px;
	transform: scale(0.93);
}


/* Dashboard Box List Buttons
------------------------------------- */

.dashboard-box-list .hover {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: 0.3s;
	box-shadow: 0px 0px 10px 15px #fff;
	background-color: red !important;
}

.dashboard-box-list .buttons-to-right.always-visible,
.dashboard-box-list li:hover .buttons-to-right { opacity: 1; }

.dashboard-box-list .buttons-to-right.always-visible:not(.single-right-button) {
    position: relative;
    transform: none;
    top: 0;
    margin: 5px 0 10px -2px;
    opacity: 1;
    right: auto;
    display: inline-block;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}

.dashboard-box-list .button {
    padding: 6px 15px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    display: inline-block;
	box-shadow: 0 3px 8px rgba(102,103,107,0.15);
}

.dashboard-box-list .button i[class*="icon-material"] {
    font-size: 18px;
    top: 3px;
    margin-right: 2px;
    margin-left: -2px
}

.dashboard-box-list .buttons-to-right .button {
    margin: 0 0 -6px 2px;
}

.dashboard-box-list .buttons-to-right.always-visible .button {
    margin: 0 3px 0 0;
}
.dashboard-box .job-listing-details {
	box-shadow: none;
	padding: 10px 0;
	align-items: center;
	flex: auto;
}

.dashboard-box .job-listing {
	box-shadow: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dashboard-box .job-listing.width-adjustment {
	max-width: 60%
}

.dashboard-box .job-listing h3 a {
	color: #333;
	font-size: 18px;text-decoration: none;
}

.dashboard-box .job-listing .job-listing-company-logo {
	max-width: 50px;
}

.dashboard-box .job-listing .job-listing-description {
	padding-top: 0;
}

.dashboard-box .job-listing:hover {
	transform: none;
}

.dashboard-box .job-listing .job-listing-footer {
    background-color:transparent;
    padding: 0;
    border-radius: none;
}
.dashboard-box .freelancer-overview {
	padding: 15px 0;
}
.dashboard-box .freelancer-overview-inner {
    flex:  auto;
    display: flex;
    align-items: center;
}

.dashboard-box .freelancer-overview .freelancer-name {
    text-align: left;
    margin: 0 0 0 30px;
    width: 100%;
}

.dashboard-box .freelancer-overview .freelancer-avatar {
	margin: 0;
	width: 90px;
}

.dashboard-box .freelancer-overview.manage-candidates .freelancer-avatar {
	align-self: flex-start;
}
.hover .button{
    background-color: #dc3139 !important;
}
.hover  a{color: #fff !important;}
.freelancer-name h4 a{
    text-decoration: none;
    color: #333;
}@media (max-width: 992px){
    .dashboard-box .freelancer-overview .freelancer-avatar {
        
        margin-left: 27px;
        margin-bottom: 9px;
    
}}