// .fun-facts-container {
// 	display: flex;
//     flex-wrap: wrap;
// 	width: calc(100% + 30px);
// 	margin-bottom: -30px;
// }
.dashboard-content-inner {
    padding: 10px;
    padding-bottom: 0;
    position: relative;
}
.dashboard-headline span{
    font-size: 16px;
    font-weight: 500;
}
// .fun-fact {
// 	background-color: #fff;
// 	box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// 	border-radius: 4px;
// 	padding: 25px;
// 	margin-right: 30px;
// 	margin-bottom: 30px;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
// 	flex: 1 1 calc(25% - 30px);
//     height: auto;
//     cursor: default;
//     transition: 0.3s;
// }


// @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
// 	.fun-fact { flex: 1; }
// }


// .fun-fact-icon {
// 	border-radius: 4px;
// 	background-color: rgba(0,0,0,0.04);
// 	flex: 0 0 100px;
// 	height: 100px;
// 	display: flex;
// 	text-align: center;
// }
// .fun-fact .task{
// 	background-color: rgba(54, 189, 120, 0.07);
// }
// .fun-fact .task i{
// 	color: rgb(54, 189, 120);
// }
// .fun-fact .task1{
// 	background-color: rgba(184, 27, 127, 0.07);
// }
// .fun-fact .task1 i{
// 	color: rgb(184, 27, 127);
// }
// .fun-fact .task2{
// 	background-color: rgba(239, 168, 15, 0.07);
// }
// .fun-fact .task2 i{
// 	color: rgb(239, 168, 15);
// }
// .fun-fact .task3{
// 	background-color: rgba(42, 65, 230, 0.07);
// }
// .fun-fact .task3 i{
// 	color: rgb(42, 65, 230);
// }
// .fun-fact-icon i {
// 	font-size: 48px;
//     align-self: center;
//     margin: 0 auto;
//     color: #666;
// }

// .fun-fact-icon i.icon-material-outline-gavel {
// 	transform: scale(0.91);
// }

// .fun-fact-text {
// 	flex: 1;
// 	margin-right: 20px;
// }

// .fun-fact span {
// 	font-size: 18px;
// 	color: #888;
// 	line-height: 22px;
// }

// .fun-fact h4 {
// 	font-size: 38px;
// 	color: #333;
// 	line-height: 38px;
// 	margin-top: 5px;
// }

// @media (max-width: 992px){
// .fun-facts-container {
//     width: calc(100% + 15px);
//     margin-bottom: -15px;
// }}
// .fun-facts-container {
//     display: flex;
//     flex-wrap: wrap;
// }
// @media (max-width: 992px){
// .fun-fact {
//     flex: 1 1 calc(50% - 15px);
//     max-width: calc(50% - 15px);
//     margin: 0 15px 15px 0;
// }}
// @media (max-width: 768px){
// .fun-fact {
//     flex: 1 1 100%;
//     max-width: 100%;
// }}
// .MuiPaper-root{
//     opacity: 1;
//     transform: none;
//     transition: opacity 291ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 194ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//     top: 16px;
//     left: 950px;
//     transform-origin: 33px 17.5px;
//     width: 400px;
// }
// .drop_icon_spc_beet a{
//     font-size: 16px;
//     color: #000;}