//colors

$light-theme: #e0e0eb;
$primary-text-color: #75ea3f;
$active-sidebar-background: #F8F8F8;
$side-nav-text: #202125;
$primary-color: #EA3F3F;
$primary-icn-bg: rgba(255, 255, 255, 0.25);

// Fonts
$font-family-base: "Poppins", sans-serif;
$font-size-base: 0.9375rem !default; // Assumes the browser default, typically `16px`
