@media (max-width: 1199px){
	.pr_dash_main_wrapper .gd_fav_sidebar{
		width:240px;
	}
	.pr_dash_main_wrapper .gd_fav_sidebar .gd_fav_sidebar_heading .logo {
		font-size: 18px;
	}
	.pr_dash_main_wrapper .gd_fav_sidebar .gd_fav_sidebar_heading .logo img {
		width: 35px;
		height: 35px;
	}
	.pr_dash_main_wrapper .gd_fav_sidebar{
		padding:10px;
	}
	.pr_dash_main_wrapper .gd_fav_sidebar .gd_fav_sidebar_nav ul li a span{
		font-size:16px;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box {
		margin-left: 240px;
	}
	.pr_dash_main_wrapper .gd_fav_bottom_footer{
		padding-left: 240px;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box .pr_dash_right_boxes_main .vs_dash_users_box h3,.pr_dash_main_wrapper .gd_fav_right_cont_box .pr_dash_right_boxes_main .vs_dash_chart_box h3{
		font-size:18px;
	}
}
@media (max-width: 991px){
	.pr_dash_main_wrapper .gd_fav_sidebar{
		left:-240px;
		-webkit-transition: $transition;
		 -o-transition: $transition;
		 -ms-transition: $transition;
		 -moz-transition: $transition;
		 transition: $transition;
		 z-index:1000;
	}
	body.active .gd_fav_sidebar {
		left: 0 !important;
		-webkit-transition: $transition;
	  -o-transition: $transition;
	  -ms-transition: $transition;
	  -moz-transition: $transition;
	  transition: $transition;
	  z-index:1000;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box {
		margin-left: 0;
	}
	.pr_dash_main_wrapper .gd_fav_bottom_footer{
		padding-left:0;
	}
	.pr_dash_main_wrapper .gd_fev_toggle{
		display:block;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box .gd_fav_right_top_header .br_top_profile .br_profile_toggle small,.pr_dash_main_wrapper .gd_fav_right_cont_box .gd_fav_right_top_header .br_top_profile .br_profile_toggle:after{
		display:none;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box .gd_fav_right_top_header .br_top_profile .br_profile_toggle{
		padding-right:0;
	}
	.gd_login_main_wrapper .gd_login_right_wrapper a{
		padding-top:45%;
	}
}
@media (max-width: 767px){
	.pr_dash_main_wrapper .gd_fav_right_cont_box .gd_fav_right_top_header .gd_fev_right_profile h3 {
		font-size: 18px;
		    padding-top: 9px;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box .gd_fav_right_top_header{
		padding:15px;
	}
	.pr_dash_main_wrapper .gd_fav_right_cont_box .pr_dash_right_boxes_main {
		padding: 0 15px;
	}
	.gd_login_main_wrapper .gd_login_left_wrapper .gd_login_field_box .gd_login_heading a{
		display:inline-block;
	}
}
@media (max-width: 580px){
	
}
@media (max-width: 480px){
	
}
@media (max-width: 380px){

}
@media (max-width: 320px){

}