@import "../common/globl.scss";
@import "./mediauser.scss";

.detail_main {
  width: 100%;
}

.detail_icon_user {
  color: $dark_blue;
  font-size: 25px;
}

.detail_btn_a {
  width: 45%;
  border: 1px solid $dark_blue;
  outline: none;
  padding: 2% 2% 2% 2%;
  color: $dark_blue;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_btn_b {
  @extend .detail_btn_a;
}

.user_check {
  display: none;
  width: 50px;
  height: 100px;
  border: 1px solid red;
}

.detail_btn_ca {
  @extend .detail_btn_a;
  padding: 10px;
  width: 20%;
  font-size: 12px;
}

.detail_btn_cb {
  @extend .detail_btn_a;
  padding: 2px;
  width: 21%;
  font-size: 12px;
}

.detail_btn_cc {
  @extend .detail_btn_a;
  padding: 10px 25px 10px 25px;
  width: 21%;
  font-size: 12px;
}

// start media query

@media (max-width: 576px) {
  .detail_btn_ca {
    padding: 4px;
    width: 20%;
    font-size: 12px;
  }

  .detail_btn_cc {
    width: 30%;
    border: 1px solid $dark_blue;
    outline: none;
    //  padding:1% 1% 1% 1%;
    padding: 8px 20px 8px 20px;
    color: $dark_blue;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// end medi   QUERY
